/*==================INDEX==================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 24px;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navigation-link {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  color: #2e2f42;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  border-color: #000;
  color: #000;
}

/*==================/INDEX==================*/

/*==================TIMER==================*/

.timer-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 32px;
}

#datetime-picker {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  background-color: #f5f5f5;
  padding: 8px 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#datetime-picker:hover,
#datetime-picker:focus {
  border-color: #000;
}

#datetime-picker:active {
  border-color: #4e75ff;
}

.timer-start {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.timer-start:hover,
.timer-start:focus {
  background-color: #6c8cff;
  color: #fff;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

/*==================/TIMER==================*/

/*==================SNACKBAR==================*/

.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

.delay-input:hover,
.delay-input:focus {
  border-color: #000;
}

.delay-input:active {
  border-color: #4e75ff;
}

.form-fieldset {
  height: 64px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 48px;
  margin-bottom: 24px;
}

.radio-label {
  margin-right: 48px;
}

.radio-input {
  width: 20px;
  height: 20px;
  font-size: 16px;
}

.form-btn {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #6c8cff;
}

/*==================/SNACKBAR==================*/
